<div class="rounded-md border mb-4">
  <table class="w-full caption-bottom text-sm">
    <thead class="">
      <tr class="border-b transition-colors hover:bg-muted/50">
        <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground lg:min-w-[120px]">Name</th>
        <%# <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground">Level</th> %>
        <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground">
          <div class="text-right">Level</div>
        </th>
        <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground"></th>
      </tr>
    </thead>
    <tbody class="[&_tr:last-child]:border-0">
      <% players.each do |player| %>
        <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted" data-state="false">
          <td class="p-4 align-middle">
            <div class="capitalize"><%= player.name %></div>
          </td>

          <td class="p-4 align-middle">
            <div class="text-right font-medium"><%= player.level %></div>
          </td>

          <td class="p-4 align-middle">
            <%= link_to edit_player_path(player), data: { turbo_frame: "_top" } do %>
              <svg class="opacity-50 inline-block w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
            <% end %>
            <%= button_to player_path(player), method: :delete, data: { turbo_frame: "_top" }, form_class: "inline-block ml-4" do %>
              <svg class="opacity-50 inline-block w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
